.header {
  &__container {
    background: aliceblue;
    padding: 20px;
  }

  &__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    margin: 0 auto;
    &-button{
      width: 100%;
    }
  }

  &__title {
    font-family: "Inter Semi Bold", sans-serif;
    font-size: clamp(2rem, 3.3vw, 3.333rem);
    line-height: 1.1;
  }

}
