
.main__container{
  margin: 16px calc(3vw + 10px);
  gap: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

}

.timer__container {
  display: flex;
  justify-content: center;
  align-items: center;

}