.task__container{
  border: solid 1px black;
  margin: 5px;
  padding: 15px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.btn__container {
  display: flex;
  flex-direction: column;
}